{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
          "cwd": "babelrc",
          "alias": {
              "native": "./native/build/Release"
          }
        }]
    ]
}